*.VC.db
*.aps
*.boltdata
*.msi
*.ncb
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.user
.vs
Release
SignResultMsi_*.xml
TestResults
bin
obj
x64
OpenCover
*.cov
AutoGenFileList_Logging.wxs
Bin
BinTest
BinTest64
ProductAssemblyInfo.cs
Temp_Wix_Dir
bin
cov